[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "*"
django-rest-framework = "*"
python-decouple = "*"
django-safedelete = "*"
django-cpf = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"

[requires]
python_version = "3.7"
